{% extends "basic.html" %}


{% block body%}

<style>


    .card-deck .card {
    max-width: calc(50%);
}
</style>
<div class="container">

 <div class='row'>
     <div class='col-12'>
     <div class='card-deck'>

</div>



        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
      <script>

    results = {{ searchCategory|tojson }};
    resultsDes = {{ searchDes|tojson }};
    resultsImg = {{searchImg|tojson}};
    console.log(resultsImg)
     for (i = 0; i < results.length; i++) {
            finalMovieName = results[i]['Title']
        	var full_url_movie ="/view?movie="+finalMovieName;

         if ((i%4==0)&&(i!=0)) {

             $(".card-deck").append("<div class='w-100 py-2'></div>")
         }
         else {

              <!--$(".card-deck").append("<div class='card'><div class='card-body' style='width: 50'><img class='card-img-top' src="+resultsImg[i]['ImageURL']+"><a href="+full_url_movie+"><h5 class='card-title'>" + results[i]['Title'] + "</h5></a></div></div>")-->

    <!--alert(full_url_movie)-->
     $(".card-deck").append("<a href="+full_url_movie+"><img class='card-img-top' src="+resultsImg[i]['ImageURL']+"></a>")

          }
     }



    </script>



{%  endblock %}