{% extends "basic.html" %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>

   * {box-sizing: border-box}
   body {font-family: Verdana, sans-serif; margin:0}
   /* Slideshow container */
   .slideshow-container {
   position: relative;
   background: transparent;
   }
   /* Slides */
   .mySlides {
   display: none;
   padding: 80px;
   text-align: center;
   }
   /* Next & previous buttons */
   .prev, .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -30px;
   padding: 16px;
   color: white;
   font-weight: bold;
   font-size: 20px;
   border-radius: 0 3px 3px 0;
   user-select: none;
   }
   /* Position the "next button" to the right */
   .next {
   position: absolute;
   right: 0;
   border-radius: 3px 0 0 3px;
   }
   /* On hover, add a black background color with a little bit see-through */
   .prev:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
   color: white;
   }
   /* The dot/bullet/indicator container */

 img {
    display:block;
    margin:auto;
}
.col-6{
 background-color: black;

}
   #responsive-image {  width: 30%;  height: 30% }
   /* The dots/bullets/indicators */
   .dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: white;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;

   }
   /* Add a background color to the active dot/circle */
   .active, .dot:hover {
   background-color:white;
   }
   /* Add an italic font style to all quotes */
   q {font-style: italic;}
   /* Add a blue color to the author */
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <div class="row">
     <div class="col-3">
				<br>
               <h2>Genres</h2>
              <ul>
			<li> <a href="{{url_for('searchCategory', type='Action')}}"> Action </a> </li>

			<li> <a href="{{url_for('searchCategory', type='Adventure')}}" > Adventure </a> </li>
			<li><a href="{{url_for('searchCategory', type='Animation')}}"> Animation </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Biography')}}" > Biography </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Comedy')}}"> Comedy </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Crime')}}"> Crime </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Documentary')}}"> Documentary </a> </li>
			<li> <a a href="{{url_for('searchCategory', type='Drama')}}">Drama </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Family')}}" > Family </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Fantasy')}}">Fantasy </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Film Noir')}}"> Film Noir </a> </li>
			<li> <a href="{{url_for('searchCategory', type='History')}}"> History </a> </li>
			 <li><a href="{{url_for('searchCategory', type='Horror')}}"> Horror </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Music')}}"> Music </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Musical')}}"> Musical </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Mystery')}}" > Mystery </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Romance')}}" > Romance </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Sci-fi')}}"> Sci-fi</a></li>
			<li> <a href="{{url_for('searchCategory', type='Short')}}"> Short </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Sport')}}"> Sport </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Superhero')}}"> Superhero </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Thriller')}}"> Thriller </a> </li>
			<li> <a href="{{url_for('searchCategory', type='War')}}"> War </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Western')}}"> Western </a> </li>
		  </ul>
            </div>
      <div class="col-6">
          &nbsp&nbsp

         <div id="movies"></div>


         <h3 style="display: inline;color:white">More Like This&nbsp;</h3>
         <div class="slideshow-container">
            <div class="mySlides">

            </div>
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
         </div>

      </div>
      <div class="col-3">
		<br>
         <h2>Top 3 Movies</h2>
         <ol>
            <li>Guardians of the Galaxy</li>
            <li>Prometheus</li>
            <li>Split</li>
         </ol>
         <br>
         <br>
         <h2>Recent Movies</h2>
         <ol>
            <li>Split</li>
            <li>Sing</li>
            <li>Suicide Squad</li>
         </ol>
      </div>
   </div>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script type="text/javascript">
   var slideIndex = 1;
   showSlides(slideIndex);

   function plusSlides(n) {
     showSlides(slideIndex += n);
   }

   function currentSlide(n) {
     showSlides(slideIndex = n);
   }

   function showSlides(n) {
     var i;
     var slides = document.getElementsByClassName("mySlides");

     if (n > slides.length) {slideIndex = 1}
     if (n < 1) {slideIndex = slides.length}
     for (i = 0; i < slides.length; i++) {
         slides[i].style.display = "none";
     }

     slides[slideIndex-1].style.display = "block";

   }




            var url_string = document.URL;
   			var url = new URL(url_string);
   			var movie_image = {{movieImg|tojson}};
   			var movie_name = {{ movieTitle|tojson }};
   			var movie_year = {{ movieYear|tojson }};
   			var movie_duration = {{ movieDur|tojson }};
   			var movie_genre = {{ movieGenre|tojson }};
   			var movie_rating = {{ movieRating|tojson }};
   			var movie_plot = {{ moviePlot|tojson }};
   			var movie_dir = {{ movieDir|tojson }};
   			var movie_actors = {{ movieAct|tojson }};
               var movie_text="";

                       movie_text+="<h2 style='color:white'>"+movie_name+"</h2>";
                       movie_text+="<span style='color:white'>"+movie_year+" | "+movie_duration+" minutes | "+movie_genre+" | Rating: "+movie_rating+"/10</span>";
                       movie_text+="<div><img src="+movie_image+"alt='No image found' width='100' height='100'id='responsive-image'></div>"
                       movie_text+="<p style='color:white'>"+movie_plot+"</p>";
                       <!--movie_text+="<p style='color:white'>Director:"+movie_dir+"</p>";-->
                      <!--movie_text+="<p style='color:white'>Actors:"+movie_actors+"</p>";-->


                 document.getElementById("movies").innerHTML=movie_text;



                 var similarMovies = {{ simMovies|tojson }};
                       for (i = 0; i < similarMovies.length; i++) {
                 	var finalMovieName=similarMovies[i];
                 	var full_url_movie = "/view?movie="+finalMovieName;

                        $(".slideshow-container").append("<div class='mySlides'><img src="+similarMovies[i]+"alt='No image found' width='100' height='100'id='responsive-image'></img></div>")
                       }

   			document.close();

</script>
{%  endblock %}