{% extends "basic.html" %}

 {% block body %}



      <div class="container-fluid">
         <div class="row">
            <div class="col-3">
               <h2>Genres</h2>
              <ul>
			<li> <a href="{{url_for('searchCategory', type='Action')}}"> Action </a> </li>

			<li> <a href="{{url_for('searchCategory', type='Adventure')}}" > Adventure </a> </li>
			<li><a href="{{url_for('searchCategory', type='Animation')}}"> Animation </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Biography')}}" > Biography </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Comedy')}}"> Comedy </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Crime')}}"> Crime </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Documentary')}}"> Documentary </a> </li>
			<li> <a a href="{{url_for('searchCategory', type='Drama')}}">Drama </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Family')}}" > Family </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Fantasy')}}">Fantasy </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Film Noir')}}"> Film Noir </a> </li>
			<li> <a href="{{url_for('searchCategory', type='History')}}"> History </a> </li>
			 <li> <a href="{{url_for('searchCategory', type='Horror')}}"> Horror </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Music')}}"> Music </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Musical')}}"> Musical </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Mystery')}}" > Mystery </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Romance')}}" > Romance </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Sci-fi')}}"> Sci-fi</a></li>
			<li> <a href="{{url_for('searchCategory', type='Short')}}"> Short </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Sport')}}"> Sport </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Superhero')}}"> Superhero </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Thriller')}}"> Thriller </a> </li>
			<li> <a href="{{url_for('searchCategory', type='War')}}"> War </a> </li>
			<li> <a href="{{url_for('searchCategory', type='Western')}}"> Western </a> </li>
		  </ul>
            </div>
            <div class="col-6">
               <form action="/searchQuery" method="post">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                     id="SearchInput" name="userQuery">
                  <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" id="searchBtn">Search</button>
               </form>
               <br><br>
               <div id="movies"></div>
            </div>
            <div class="col-3">
               <h2>Top 3 Movies</h2>
               <ol>
                  <li>Guardians of the Galaxy</li>
                  <li>Prometheus</li>
                  <li>Split</li>
               </ol>
               <br>
               <br>
               <h2>Recent Movies</h2>
               <ol>
                  <li>Split</li>
                  <li>Sing</li>
                  <li>Suicide Squad</li>
               </ol>
            </div>
         </div>
      </div>
      <br>

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
         integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
         crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
         integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
         crossorigin="anonymous"></script>
      <script type="text/javascript">

      {#$( document ).ready(function() {#}
      {##}
      {#   $('.movieTitle').click(function (event) {#}
      {#       alert("mpika");#}
      {#       alert($('.movieTitle').text())#}
      {#      event.preventDefault();#}
      {#        $.ajax({#}
      {#        type : 'POST',#}
      {#        url : "{{url_for('view')}}",#}
      {#        contentType: 'application/json;charset=UTF-8',#}
      {#        data : {'data': $('.movieTitle').text()}#}
      {#      });#}
      {##}
      {##}
      {##}
      {##}



         function storeToArray(str) {

             var res = str.split("\"");
             var movie_data = [];

             var i, j, k;

             for (i = 0; i < res.length; i++) {
                 if (i % 2 == 0) {
                     var res_str = res[i].toString();
                     var temp = res_str.split(",");
                     for (j = 0; j < temp.length; j++) {
                         if (temp[j] != "")
                             movie_data.push(temp[j]);

                     }
                 }
                 else {

                     movie_data.push(res[i]);
                 }
             }
             return movie_data;
         }


         {% if queryResultsFlask == 'empty' %}
             jQuery.get("static/IMDB-Movie-Data.csv", function (response) {
                 var data = response.split("\n");
                 var data_text = "";
                 var text = "";
                 var movies_records = [];
                 for (i = 0; i < data.length - 1; i++) {

                     movies_records.push(storeToArray(data[i]));
                     if (i != 0) {

                var movieName=movies_records[i][1];
              	var temp=movieName.split(" ");
              	var finalMovieName=temp;
              	var full_url_movie = "/view?movie="+finalMovieName;
                       data_text+="<a href="+full_url_movie+"> <h2>"+movies_records[i][1]+"</h2></a>";
                         data_text += "<p>" + movies_records[i][3] + "</p>";
                     }

                 }
                 document.getElementById("movies").innerHTML = data_text;
             });

         {% endif %}

         {% if queryResultsFlask != 'empty' %}
             var data_text = "";
             queryResults = {{ queryResultsFlask |tojson}};
             queryResultsDes = {{ queryResultsPlot|tojson }};

             for (i = 0; i < queryResults.length - 1; i++) {

                 data_text += "<h2>" + queryResults[i] + "</h2>";
                 data_text += "<p>" + queryResultsDes[i] + "</p>";
             }
             document.getElementById("movies").innerHTML = data_text;

         {% endif %}
      </script>
{% endblock %}